.image-slider-container {
  text-align: center; /* Alinear el texto del contenido */

  width: 80%; /* Ancho del slider */
  max-width: 800px; /* Ancho máximo del slider */
  margin-top: 100px !important;
  margin: 0 auto; /* Centrar horizontalmente */
}

.margin-top-none {
  margin-top: 0 !important;
}

.slider-h2 {
  width: 100%;
  margin-top: -7.5rem;
  margin-bottom: -7.5rem;
}
