.container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.button-container {
  margin-top: 1.25rem;

  &__button {
    margin-right: 1.25rem;
    width: 6.25rem;
  }
}

.experiencia-container {
  display: flex;

  &__input {
    max-width: 8.875rem;
    height: 1.5625rem;
    margin: 0.1875rem 0;
    margin-right: 0.3125rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    background-color: #ffffff;
    color: #191919;
    font-size: 0.8rem;
    font-weight: 600;
    border-style: none;
    border-radius: 0.9375rem;
  }

  &__button {
    height: 1.7625rem;
    margin: 0.1875rem 0;
    line-height: 0.625rem;
  }
}
